body{
    font-family: 'Roboto', sans-serif;
}
.headerCont{
    padding-top:20px;
    display: flex;
    flex-direction: row;  
    margin:0 auto;
    
    width: 100%;
    max-width: 1000px;
    
    
}
.logo
{
    font-size:35px;
    font-weight: bold;
    font-style: italic;
    color:#707070;
   
}
.logo a {
  text-decoration: none;
  color:#707070;
}
.logo a:hover{
  color:#F4B95F;
}
.inn{

  color:#F4B95F !important;
  }
  .headerCont ul li a:hover{
    color:#F4B95F;
  }


.headerCont ul {
    list-style-type: none;
    margin: 0 auto;
    font-size:35px;
    padding-bottom:20px;
    
    
  }
  .headerCont ul li {
    display: inline;
    color:#707070;
    padding-left:20px;
    padding-right:20px;
    
    
    
}
.headerCont ul li a{
    
    color:#707070;
    text-decoration: none;
}
.pageContainer
{
    padding-top:20px;
    display: flex;
    flex-direction: column; 
    
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    
}

.pageContainer ul {
    list-style-type: none;
    margin-top: -22px;
    font-weight: 300;
    width: 20px;
    font-size:20px;
    
    
    
    
  }
  
  .pageContainer li a {
    text-decoration: none;
    display: inline-block;
    color: #707070;
    text-align: left;
    padding-left:20px;
    background-color:rgba(73, 73, 73, 0.062);
    line-height: 50px;

    border-top:2px solid #DEDEDE;
    width:200px;    
  }
  
  .pageContainer li {
    text-align: center;
    
 
  }
  
  .pageContainer li:last-child {
    border-bottom:2px solid #DEDEDE;
width: 220px;  
}
  
 
.verticalNavigation i
    {
        float:right;
        padding-top:17px;
        padding-right: 5px;
        
        
    }
    .content{
      margin: 0 auto;
      width: 100%;
      max-width: 1000px;
      margin-left:200px;
      
     margin-top:-21px; 
    }
    .content * {
        box-sizing: border-box;
      }
  
      .slider {
          width: 50%;
          margin:0 auto;
      }
  
      .slick-slide {
        margin: 0px 20px;
      }
  
      .slick-slide img {
        width: 100%;
      }
  
      .slick-prev:before,
      .slick-next:before {
        color: black !important;
      }
  
  
      .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
      }
      
      .slick-active {
        opacity: .5;
      }
  
      .slick-current {
        opacity: 1;
      }
      .ShopItemsContainer
      {
        margin-top:20px;
        margin-left:10px;  
        display: flex;
        flex-wrap: wrap;
        }
      .ShopItems{
          width: 200px;
          height: 290px;
          border: 1px solid rgba(128, 128, 128, 0.24);
          color:#707070;
          text-align: center;
          
          
          margin: 10px;
        }
      
      .ShopItems .ShopItem
      {
          width: 150px;
          height:200px;
          
          margin:0 auto;
          background: url(/imgs/iphone12-1.png);
          
          background-size:150px 200px;
      }
      .ShopItems b
      {
        font-style: italic;
        font-weight:500;
      }
      .ShopItems p
      {
        margin-top:5px !important;
       }
       .addBasket
       {
         margin-top:5px !important;
         background-color: #F4B95F;
         color:#707070;
        width:65%;
        height:35px;
        line-height: 35px;
        margin:0 auto;
        text-align: center;
        vertical-align: middle;
        border-radius: 3px;
       }
       .headline
       {
         
         border-bottom: 1.5px solid #F4B95F;
         font-size:35px;
         color:#707070;
         width:315px;
         margin-left:5%;
       }

      .CardHeader
      {
        background-color: #F4B95F;
        border: 1px solid #F4B95F;
        width:700px;
        font-weight: 500;
        color:#707070;
        height:25px;
        line-height: 25px;
        
      }
      .CardHeader .ProductName
      {
        padding-left: 10%;
      }
      .CardBody
      {
      width:700px;
      border: 1px solid #70707038;
      display: flex;
      flex-direction: row;
      }
      .ProductImg{
        width: 150px;height:200px;background-size:180px 280px;background-position: center;margin-left:7%;
        }
        .ProductDetail
        {
          
          width: 400px;
          margin-left:7%;
          margin-top: 5%;
          font-size: 13px;
          line-height: 20px;
          color:#707070;
          height:130px;
          
          position: relative;
        }
        .DetailBottomContainer{
          position:absolute; bottom:0;
          
          
        }
        .DetailBottomContainer button
        {
          color:#707070;
          background-color: #F4B95F;
          border:none;
          border-radius: 5%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top:5px;
          padding-bottom:5px;
        }
        .DetailBottomContainer button:focus{
          
          border:none;
          outline:0;
        }
        .decraseBtn
        {
          margin-left:70px;
        }
      .DetailBottomContainer b
      {
        
        font-weight: 500;
        
      }
      .price
      {
        margin-left:70px;
        font-size:14px;}
      .CardContainer
      {
        margin-top:20px;
        width:fit-content !important;
      }
      .CardContainer:nth-child(1)
      {margin-top:1px;}
      .ContentContainer
      {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: fit-content;
        
      }
      .PriceDiv
      {
        background-color: #F4B95F;
        color:#707070;
        font-weight: 500;
        line-height: 30px;
        border-radius: 5px;
        padding:10px;
        margin-left:20px;
        margin-top:20px;
      }
      .Succe
      {
  color:white;
  text-align: center;        
        background: rgb(86,171,47);
background: linear-gradient(180deg, rgba(86,171,47,1) 0%, rgba(145,209,84,1) 70%, rgba(207,233,175,1) 95%);


      }